.font_style{
    font-family: LTCBodoni175,'Bodoni MT',Garamond,'Times New Roman',serif;
    font-size: 35px;
}
/*.custom-control-input:checked ~ .custom-control-label::before {*/
/*    color: #fff;*/
/*    border-color: #7B1FA2;*/
/*    background-color: #7B1FA2;*/
/*}*/